@using CRMVIETTOUR.Utilities
@using CRM.Core
@model tbl_Opportunity

<div class="modal fade  bs-modal-lg" id="modal-insert-opportunity" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Cơ hội kinh doanh</h4>
            </div>
            @using (Html.BeginForm("Create", "OpportunityManage", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Code</label>
                                    <div class="col-lg-2 col-md-2">
                                        <input type="text" name="Code" value="@GenerateCode.OpportunityCode()" class="form-control" required readonly="readonly" />
                                    </div>
                                    <label class="control-label col-lg-2 col-md-2">Tên cơ hội</label>
                                    <div class="col-lg-6 col-md-6">
                                        @Html.TextBoxFor(model => model.Name, new { @class="form-control", @required = "required" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Khách hàng</label>
                                    <div class="col-lg-7 col-md-7" id="data-customer">
                                        @Html.Action("_Partial_CustomerList", "OpportunityManage")
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <a href="#modal-insert-customer" data-toggle="modal" class="btn btn-danger"><i class="fa fa-user-plus"></i>&nbsp;Thêm khách hàng</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Nhóm cơ hội</label>
                                    <div class="col-lg-4 col-md-4">
                                        <select id="insert-group" name="GroupId" style="width: 100%" class="form-control">
                                            @foreach (var item in LoadData.OpportunityGroupList())
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <label class="control-label col-lg-2 col-md-2">Tiềm năng (%)</label>
                                    <div class="col-lg-4 col-md-4">
                                        @Html.TextBoxFor(model => model.TiemNang, new { @class = "form-control", @readonly = "readonly", id = "txtPercent" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Tình trạng</label>
                                    <div class="col-lg-4 col-md-4">
                                        <select class="form-control" id="insert-status" name="StatusId" style="width: 100%">
                                            <option>-- Chọn tình trạng --</option>
                                            @foreach (var item in LoadData.OpportunityStatusList())
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <label class="control-label col-lg-2 col-md-2">Hình thức tiếp xúc</label>
                                    <div class="col-lg-4 col-md-4">
                                        <select class="form-control" id="insert-formcontact" name="FormContactId" style="width: 100%">
                                            @foreach (var item in LoadData.ContactFormList())
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Ghi chú</label>
                                    <div class="col-lg-10 col-md-10">
                                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control", id = "insert-note" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" style="margin-bottom: 20px">
                    <button type="submit" class="btn blue">Lưu</button>
                    <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
                </div>
            }
        </div>
    </div>
</div>

@Html.Partial("_Partial_InsertCustomer", new CRMVIETTOUR.Models.CustomerViewModel())
