@using CRMVIETTOUR.Models
@using CRMVIETTOUR.Utilities
@model IEnumerable<OpportunityViewModel>
@{
    int i = 0;
}
<div class="table-responsive table-custom-format">

    <script>
        $("#tbl-data-import").on("change", ".cbItem", function () {
            var ItemID = $(this).val();
            var currentlistItemID = $("#listItemIdI").val();
            var stringBranchID = "";
            if ($(this).prop('checked')) {
                currentlistItemID += ItemID + ",";
                $("#listItemIdI").val(currentlistItemID);
            } else {
                $("#listItemIdI").val(currentlistItemID.replace(ItemID + ",", ""));
            }
        });
        function DeleteImport() {
            if ($("#listItemIdI").val() == "") {
                alert("Vui lòng chọn mục cần xóa !");
                return false;
            }
            var dataPost = { listItemId: $("#listItemIdI").val() };
            $.ajax({
                type: "POST",
                url: '/OpportunityManage/DeleteImport',
                data: JSON.stringify(dataPost),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    $("#import-data-customer").html(data);
                    $("#listItemIdI").val("");
                }
            });
        }
        function SaveImport() {
            $.ajax({
                type: "POST",
                url: '/OpportunityManage/SaveImport',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    var obj = jQuery.parseJSON(data);
                    alert(obj.Message);
                    $("#modal-import-customer").modal("hide");
                    window.location.href = obj.RedirectTo;
                }
            });
        }
    </script>
    <table class="table table-striped table-bordered table-hover" id="tbl-data-import">
        <thead>
            <tr>
                <th>#</th>
                <th>STT</th>
                <th>TÊN CƠ HỘI</th>
                <th>NHÓM CƠ HỘI</th>
                <th>TIỀM NĂNG</th>
                <th>TÌNH TRẠNG</th>
                <th>HÌNH THỨC TIẾP XÚC</th>
                <th>TÊN KHÁCH HÀNG</th>
                <th>DANH XƯNG</th>
                <th>ĐỊA CHỈ</th>
                <th>TỈNH THÀNH</th>
                <th>EMAIL</th>
                <th>DI ĐỘNG</th>
                <th>ĐIỆN THOẠI</th>
                <th>NHÓM KH</th>
                <th>NGUỒN ĐẾN</th>
                <th>NGÀNH NGHỀ</th>
                <th>QUẢN LÝ</th>
                <th>GHI CHÚ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" value="@i" id="cb@i" class="cbItem" name="cb" onclick="CheckSelect()" />
                    </td>
                    <td>@(i + 1)</td>
                    <td>@item.TENCOHOI</td>
                    <td>@item.TENNHOMCOHOI</td>
                    <td>@item.TIEMNANG %</td>
                    <td>@item.TENTINHTRANG</td>
                    <td>@item.TENHINHTHUCTIEPXUC</td>
                    <td>@item.TENKH</td>
                    <td>@item.TENDANHXUNG</td>
                    <td>@item.DIACHI</td>
                    <td>@item.TENTINHTHANH</td>
                    <td>@item.EMAIL</td>
                    <td>@item.DIDONG</td>
                    <td>@item.DIENTHOAI</td>
                    <td>@item.NHOMKH</td>
                    <td>@item.TENNGUONDEN</td>
                    <td>@item.TENNGANHNGHE</td>
                    <td>@item.TENNVQL</td>
                    <td>@item.GHICHU</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>
