@using CRMVIETTOUR.Utilities
@model CRM.Core.tbl_LiabilityCustomer
@{
    int i = 1;
    var serviceList = ViewBag.ServiceList as List<CRM.Core.tbl_TourCustomerService>;
}

<div class="modal fade" id="modal-edit-congnokh" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Cập nhật công nợ của khách hàng</h4>
            </div>
            @using (Ajax.BeginForm("UpdateLiabilityCustomer", "TourOtherTab", null, new AjaxOptions { OnFailure = "OnFailureTourTab", OnSuccess = "OnSuccessCNKH", UpdateTargetId = "congnokh" }))
            {
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.TourId)
                @Html.HiddenFor(model => model.CreateDate)
                @Html.HiddenFor(model => model.StaffId)
                @Html.HiddenFor(model => model.CustomerId)

                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Thanh toán đợt 1</label>
                                    <div class="col-lg-4 col-md-4">
                                        <input type="text" class="form-control Ecnkh" name="FirstPrice" id="EcnkhDot1" value="@(Model.FirstPrice != null ? string.Format("{0:0,0}", Model.FirstPrice).Replace(",",".") : "0" )" />
                                    </div>
                                    <label class="control-label col-lg-2 col-md-2">Ngày</label>
                                    <div class="col-lg-4 col-md-4">
                                        @Html.TextBoxFor(model => model.FirstDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Thanh toán đợt 2</label>
                                    <div class="col-lg-4 col-md-4">
                                        <input type="text" class="form-control Ecnkh" name="SecondPrice" id="EcnkhDot2" value="@(Model.SecondPrice != null ? string.Format("{0:0,0}", Model.SecondPrice).Replace(",",".") : "0" )" />
                                    </div>
                                    <label class="control-label col-lg-2 col-md-2">Ngày</label>
                                    <div class="col-lg-4 col-md-4">
                                        @Html.TextBoxFor(model => model.SecondDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Chi phí tour</label>
                                    <div class="col-lg-4 col-md-4">
                                        <input type="text" class="form-control" name="TotalContract" id="EcnkhTong" value="@(Model.TotalContract != null ? string.Format("{0:0,0}", Model.TotalContract).Replace(",",".") : "0" )" />
                                    </div>
                                    <label class="control-label col-lg-2 col-md-2">Tổng tiền</label>
                                    <div class="col-lg-4 col-md-4">
                                        <input type="text" class="form-control" id="Edit-TotalLiquidation" name="TotalLiquidation" value="@(Model.TotalLiquidation != null ? string.Format("{0:0,0}", Model.TotalLiquidation).Replace(",",".") : "0" )" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Ghi chú đã chi visa</label>
                                    <div class="col-lg-4 col-md-4">
                                        <input type="text" class="form-control" name="TotalVisa" value="@(Model.TotalVisa != null ? string.Format("{0:0,0}", Model.TotalVisa).Replace(",",".") : "0" )" />
                                    </div>
                                    <label class="control-label col-lg-2 col-md-2">Chi hoàn trả khách</label>
                                    <div class="col-lg-4 col-md-4">
                                        <input type="text" class="form-control" id="Edit-TotalReturn" name="TotalReturn" value="@(Model.TotalReturn != null ? string.Format("{0:0,0}", Model.TotalReturn).Replace(",",".") : "0" )" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Ghi chú thu full</label>
                                    <div class="col-lg-10 col-md-10">
                                        @Html.TextAreaFor(model => model.FullNote, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2"></label>
                                    <label class="control-label col-lg-2 col-md-2">
                                        Thu hợp đồng
                                        @Html.CheckBoxFor(model => model.IsContract)
                                    </label>
                                    <label class="control-label col-lg-2 col-md-2">
                                        Lấy hóa đơn
                                        @Html.CheckBoxFor(model => model.IsBill)
                                    </label>
                                    <label class="control-label col-lg-2 col-md-2">
                                        Lưu PP-VS
                                        @Html.CheckBoxFor(model => model.IsPPVS)
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label style="font-size: 14px;"><b>Các dịch vụ khác</b></label>
                                <a class="btn btn-danger" style="cursor: pointer" id="addService">Thêm dịch vụ</a>
                                <br />
                                <br />
                                <table class="table table-bordered table-hover" id="tableService">
                                    <tr>
                                        <th>Tên dịch vụ</th>
                                        <th>Số lượng</th>
                                        <th>Đơn giá</th>
                                        <th>Thành tiền</th>
                                        <th>Xóa</th>
                                    </tr>
                                    @if (serviceList.Count() > 0)
                                    {
                                        foreach (var item in serviceList)
                                        {
                                            <tr id="rowS@(item.Id)">
                                                <td>
                                                    <input type="text" class="form-control" value="@item.ServiceName" id="txtNameS@(i)" name="txtNameS@(i)" style="width: 300px" />
                                                </td>
                                                <td>
                                                    <input type="number" class="form-control" onchange="calTotalPrice(@i)" value="@item.Quantity" id="txtQuantityS@(i)" name="txtQuantityS@(i)" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" onchange="calTotalPrice(@i)" value="@(item.UnitPrice != null ? string.Format("{0:0,0}", item.UnitPrice).Replace(',','.') : "")" id="txtUnitPriceS@(i)" name="txtUnitPriceS@(i)" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" value="@(item.TotalPrice != null ? string.Format("{0:0,0}", item.TotalPrice).Replace(',','.') : "")" id="txtTotalPriceS@(i)" name="txtTotalPriceS@(i)" readonly="readonly" />
                                                </td>
                                                <td>
                                                    <a style="text-align: center; cursor: pointer" onclick="deleteServiceCustomer(@item.Id)"><i class="fa fa-trash" style="font-size: 20px"></i></a>
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>
                                                <input type="text" class="form-control" id="txtNameS@(i)" name="txtNameS@(i)" style="width: 300px" />
                                            </td>
                                            <td>
                                                <input type="number" onchange="calTotalPrice(@i)" class="form-control" id="txtQuantityS@(i)" name="txtQuantityS@(i)" />
                                            </td>
                                            <td>
                                                <input type="text" onchange="calTotalPrice(@i)" class="form-control" id="txtUnitPriceS@(i)" name="txtUnitPriceS@(i)" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" id="txtTotalPriceS@(i)" name="txtTotalPriceS@(i)" readonly="readonly" />
                                            </td>
                                            <td></td>
                                        </tr>
                                    }
                                </table>
                                <input type="hidden" name="CountService" id="CountService" value="@(serviceList.Count() > 0 ? serviceList.Count() : 1)" />
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Chi tiết thu</label>
                                    <div class="col-lg-10 col-md-10">
                                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control", id = "edit-note-liabilitycustomer" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" style="margin-bottom: 20px">
                    <button type="submit" class="btn blue">Lưu</button>
                    <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
                </div>
            }
        </div>
    </div>
</div>